.song {
    border: 0.125rem solid #ccc;
    padding: 0.625rem;
    width: 18.75rem;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 0.5rem;
}

.song-title {
    font-size: 1.125rem;
    color: #333;
    text-align: center;
}

.title-input {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
}

.song-image {
    width: 9.375rem;
    height: 9.375rem;
    object-fit: cover;
    margin: 0.625rem 0;
    border-radius: 0.375rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.selectImagesC {
    width: 80%;
    padding: 0.3125rem;
    margin: 0.3125rem 0;
    text-align: center;
}

.song-details p {
    margin: 0.3125rem 0;
    text-align: center;
}

.people-count {
    font-weight: bold;
    color: #ff5733;
}

.song-container {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.song-containerR {
    display: flex; /* Enables horizontal layout */
    flex-wrap: wrap; /* Ensures responsiveness */
    gap: 20px; /* Adds spacing between song boxes */
    justify-content: center; /* Centers items */
    align-items: flex-start; /* Aligns items at the top */
}

.songR {
    width: 250px; /* Set a fixed width */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}


@media (max-width: 38rem) {
    .song-container {
        flex-direction: column;
        text-align: center;
        gap: 0.625rem;
    }

    .song-image {
        width: 100%;
        max-width: 15.625rem;
        height: auto;
    }

    .song-title {
        font-size: 1rem;
    }

    .selectImagesC {
        width: 100%;
        padding: 0.5rem;
    }

    .song-details p {
        font-size: 0.875rem;
    }
}
