.songR {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.songR-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title-input {
    width: 80%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.songR-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.selectImagesC {
    width: 80%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.songR-details {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.people-count {
    font-weight: bold;
    color: #333;
}

.song-containerR {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; /* Centers items horizontally */
    padding: 20px;
    width: 100%; /* Ensures it takes up full width */
}

